<footer class="footer">
    <div class="container">
        <div class="footer__content">

            <div class="footer__about">
                <div class="footer__title">
                    About Us
                </div>
                <div class="footer__decoration">
                    <img src="../../assets/img/ingredients-decoration.png" alt="">
                </div>
                <div class="footer__text">
                    Lambda's new and expanded Chelsea location represents a truly authentic <span>Greek</span>
                    patisserie, featuring
                    breakfasts of fresh croissants and steaming bowls of café.
                    Lamda the best restaurant in town
                </div>
            </div>

            <div class="footer__opened">

                <div class="footer__title">
                    Opening Hours
                </div>

                <div class="footer__decoration">
                    <img src="../../assets/img/ingredients-decoration.png" alt="">
                </div>

                <div class="footer__text">
                    <span>Mon-Thu:</span> 7:00am-8:00pm
                    <span>Fri-Sun:</span> 7:00am-10:00pm
                </div>

                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__opened-link" href="#"></a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__opened-link" href="#"></a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__opened-link" href="#"></a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__opened-link" href="#"></a>
                    </li>
                </ul>

            </div>

            <div class="footer__location">

                <div class="footer__title">
                    Our Location
                </div>

                <div class="footer__decoration">
                    <img src="../../assets/img/ingredients-decoration.png" alt="">
                </div>

                <div class="footer__text">
                    <span>
                        19th Paradise Street Sitia
                        128 Meserole Avenue
                    </span>
                </div>

                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__location-link" href="#"></a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__location-link" href="#"></a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__location-link" href="#"></a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__location-link" href="#"></a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</footer>